body {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  font-family: Roboto, Arial;
}

h2{
  font-size: 4rem;
}

main {
  max-width: 80vw;
  display: flex;
  flex-flow: column;
  gap: 8rem;
  padding: 2rem;
}

main > div{
  padding: 2rem;
  background-color: #f4f4f4;
}

:target {
   background-color: #ffa;
}

figure {
   height:100%;
   width:100%;
   margin: 0px;
}

figure + figure {
  margin-top: 8rem;
}

figcaption{
  margin: 1rem 0rem;
  font-size: 1.5rem;
}

video {
  width: 150px;
  height: auto;
}
