body {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  font-family: Roboto, Arial;
}

main {
  max-width: 80vw;
  display: flex;
  flex-flow: column;
  gap: 1rem;
  padding: 2rem;
}

main > div{
  padding: 2rem;
}

:target {
   background-color: #ffa;
}

figure {
   height:100%;
   width:100%;
   margin: 0px;
}

figcaption{
  margin: 1rem 0rem;
}

video {
  width: 250px;
  height: auto;
}
