body {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  font-family: Roboto, Arial;
}

main {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  max-width: 80vw;
  gap: 1rem;
  padding: 2rem;
}

main > div{
  padding: 2rem;
}

:target {
   background-color: #ffa;
}

figure {
  padding: 0px;
  margin: 0px;
  max-width: 90%;
}

figcaption{
  margin: 1rem 0rem;
}

audio { 
  max-width: 100%;
}
